* {
  box-sizing: border-box;
}

body {
  color: #515151;
  background-color: #fbfbfb;
  margin: 0 auto;
  padding: 2.75em 1.75em 6.75em;
  text-align: center;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Lucida Grande";
  min-height: 100%;
  min-height: 100vh;
  max-width: 45em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

button {
  font: inherit;
  color: inherit;
  font-size: 1.15em;
  background: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: .25em;
  padding: .25em .4em;
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .2);
  text-shadow: 0 0 .1em #fff;
  cursor: pointer;
  transition: background 200ms ease-in-out, box-shadow 300ms ease-in-out;
}

button:hover, button:focus {
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 .1em .2em rgba(0, 0, 0, .175);
}

button:active {
  color: currentColor;
  background: rgba(0, 0, 0, .15);
  box-shadow: 0 .075em .2em rgba(0, 0, 0, .2);
}

a:link, a:visited {
  color: #893ff4;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .hide-small {
    display: none;
  }

  .secondary {
    font-size: smaller;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .hide-big {
    display: none;
  }
}